@font-face {
	font-family: 'Ubuntu';
	src: url('police/Ubuntu-Regular.ttf') format('truetype');
}
body {
    padding-top: 50px;

}
.cadreCV {
    padding-bottom: 15px;
    background: white;
}
.about, .services, .skills, .teams, .contact, .attestation1, .attestation2, .attestation3, .timeline, .projets-perso, footer {
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*attestation1*/
.attestation1 {
    font-family: 'Poppins', sans-serif;
}

.attestation1 .attestation1-content, .services .serv-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attestation1 .attestation1-content .left {
    width: 45%;
}
.attestation1 .attestation1-content .left img {
    object-fit: cover;
    border-radius: 6px;
}
.attestation1 .attestation1-content .right {
    width: 55%;
}
.attestation1 .attestation1-content .right .text {
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 10px;
}
.attestation1 .attestation1-content .right .text span {
    color: crimson;
}
.attestation1 .attestation1-content .right .text p {
    text-align: justify;
}
.attestation1 .attestation1-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.attestation1 .attestation1-content .right a:hover {
    color: crimson;
    background: none;
}
/*attestation2*/
.attestation2 {
    font-family: 'Poppins', sans-serif;
}
.attestation2 .title::after {
    content: "A Propos";
}
.attestation2 .attestation2-content, .services .serv-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.attestation2 .attestation2-content .left {
    width: 45%;
}
.attestation2 .attestation2-content .left img {
    object-fit: cover;
    border-radius: 6px;
}
.attestation2 .attestation2-content .right {
    width: 55%;
}
.attestation2 .attestation2-content .right .text {
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 10px;
}
.attestation2 .attestation2-content .right .text span {
    color: crimson;
}
.attestation2 .attestation2-content .right .text p {
    text-align: justify;
}
.attestation2 .attestation2-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.attestation2 .attestation2-content .right a:hover {
    color: crimson;
    background: none;
}
/*attestation3*/
.attestation3 {
    font-family: 'Poppins', sans-serif;
}

.attestation3 .attestation3-content, .services .serv-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.attestation3 .attestation3-content .left {
    width: 45%;
}
.attestation3 .attestation3-content .left img {
    object-fit: cover;
    border-radius: 6px;
}
.attestation3 .attestation3-content .right {
    width: 55%;
}
.attestation3 .attestation3-content .right .text {
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 10px;
}
.attestation3 .attestation3-content .right .text span {
    color: crimson;
}
.attestation3 .attestation3-content .right .text p {
    text-align: justify;
}
.attestation3 .attestation3-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.attestation3 .attestation3-content .right a:hover {
    color: crimson;
    background: none;
}
/*attestation4*/
.attestation4 {
    font-family: 'Poppins', sans-serif;
}
.attestation4 .attestation4-content, .services .serv-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.attestation4 .attestation4-content .left {
    width: 45%;
}
.attestation4 .attestation4-content .left img {
    object-fit: cover;
    border-radius: 6px;
}
.attestation4 .attestation4-content .right {
    width: 55%;
}
.attestation4 .attestation4-content .right .text {
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 10px;
}
.attestation4 .attestation4-content .right .text span {
    color: crimson;
}
.attestation4 .attestation4-content .right .text p {
    text-align: justify;
}
.attestation4 .attestation4-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.attestation4 .attestation4-content .right a:hover {
    color: crimson;
    background: none;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100vw;
    margin-block: 0em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border: 0.10em solid grey;
    border-radius: 100vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;

}
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width, .max-width2{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "/f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width, .max-width2{
        max-width: 930px;
    }
    .about .about-content .column,
    .attestation1 .attestation1-content .column,
    .attestation2 .attestation2-content .column,
    .attestation3 .attestation3-content .column,
    .attestation4 .attestation4-content .column
    {
        width: 100%;
    }
    .about .about-content .left,
    .attestation1 .attestation1-content .left,
    .attestation2 .attestation2-content .left,
    .attestation3 .attestation3-content .left,
    .attestation4 .attestation4-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right,
    .attestation1 .attestation1-content .right,
    .attestation2 .attestation2-content .right,
    .attestation3 .attestation3-content .right,
    .attestation4 .attestation4-content .right
    {
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .attestation1 .attestation1-content .left img {
        width: 213px;
        object-fit: cover;
        border-radius: 6px;
    }
    .attestation2 .attestation2-content .left img {
        width: 213px;
        object-fit: cover;
        border-radius: 6px;
    }
    .attestation3 .attestation3-content .left img {
        width: 213px;
        object-fit: cover;
        border-radius: 6px;
    }
    .attestation4 .attestation4-content .left img {
        width: 213px;
        object-fit: cover;
        border-radius: 6px;
    }
}
@media (max-width: 690px) {
    .max-width, .max-width2{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .attestation1 .attestation1-content .right .text,
    .attestation2 .attestation2-content .right .text,
    .attestation3 .attestation3-content .right .text,
    .attestation4 .attestation4-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
img{
    position: sticky;
    left: 100px;
    right: 00px;
    width: 340px;
}
section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: crimson;
    transform: translateX(-50%);
}
.container2 {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}