body {
    padding-top: 50px;
}
.cadreCV {
    padding-bottom: 15px;
    background: white;
}
.about, .services, .skills, .teams, .contact, footer {
    font-family: "Poppins", sans-serif;
}
section {
    padding: 100px 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.veille {
    background-color: #faf5f5 !important;
}
.pearltrees {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.text-veille {
    font-size: 20px;
}
#card4 {
    margin-top: 20px;
}
.text-veilles {
    font-size: 20px;
    text-align: center;
}
.about .about-content, .services .serv-content, .skills .skills-content, .contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 947px)
.max-width {
    max-width: 930px;
}
@media (max-width: 991px)
.max-width {
    padding: 0 50px;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.services .serv-content .card .box {
    transition: all 0.3s ease;
}
.services .serv-content .card {
    width: calc(30% - -200px);
    background: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 25px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services, .teams {
    color: #111;
    background: #e9ecef;
}
.zeubi {
    background-color: #bab8b8;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.voirplus {
    display: flex;
    color: #ff0000;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}
.projet {
    width: 100%;
}
.services .title::before, .teams .title::before {
    background: crimson;
}
section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: crimson;
    transform: translateX(-50%);
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    background: white;
}
#card5 {
    margin-top: 20px;
}